/*****************************************************************************************************************
* File description         : The CSS is used to customize the layout on the screen
* Modification description : MOUSTIKOS - 19.04.2020 - Creation                                    
*****************************************************************************************************************/

.playMat {
	background: radial-gradient(#43a047, #1b5e20);
}

.playerName {
	color: #f0f4c3;
}

.card {
	background-color: #f0f4c3;
	border-radius: 6px;
	border: 2px solid red;
}